@font-face {
  font-family: "Roboto";
  src: local("Roboto-Bold"),
    url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto-Medium"),
    url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto-Regular"),
    url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto-Light"),
    url("../fonts/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/FontAwesome.otf');
  font-weight: normal;
  font-style: normal;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  max-width: 1750px;
  padding: 0 30px;
  margin: 0 auto;
}

/* glob */

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --gap: 300px;
  --gap-adap: 180px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

img {
  max-width: 100%;
}

body {
  min-width: 320px;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: #ffffff;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.link-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}



ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  list-style-type: none;
}

.flex {
  display: flex;
}

p {
  padding: 0;
  margin: 0;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.scroll-up {
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 1000;
  width: 50px;
  height: 50px;
  color: #dcdcdc;
  cursor: pointer;
  visibility: hidden;
  border-radius: 50px;
  box-shadow: inset 0 0 0 4px #dcdcdc;
  opacity: 0;
  transition: .2s;
  transform: translateY(25px);
}
.scroll-up::before{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 20px;
  content: "↑";
}
.scroll-up:hover{
  color:#3172b9;
}
.scroll-up--active{
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.scroll-up__svg-path {
  box-sizing: border-box;
  fill: none;
  stroke: #0067A5;
  stroke-width: 4px;
  transition: .2s;
}
.header {
  width: 100%;
  position: absolute;
  object-fit: cover;
  top: 0;
  z-index: 3;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px ;
}

.burger {
  z-index: 10001;
  position: relative;
  width: 30px;
  height: 23px;
  display: none;
}

.burger__line {
  position: absolute;
  right: 0;
  top: 50%;
  width: 100%;
  height: 3px;
  background-color: #333;
  transform: translateY(-50%);
  transition: opacity 0.3s ease-in-out;
}

.burger::before,
.burger::after {
  content: "";
  position: absolute;
  right: 0;
  right: 0;
  width: 100%;
  height: 3px;
  background-color: #333;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out,
    bottom 0.3s ease-in-out;
}

.burger::before {
  top: 0;
}

.burger::after {
  bottom: 0;
}

.burger--active .burger__line {
  opacity: 0;
}

.burger--active::before {
  top: 50%;
  transform: rotate(45deg);
}

.burger--active::after {
  bottom: auto;
  top: 50%;
  transform: rotate(-45deg);
}
.stop-scroll {
  overflow: hidden;
}
.logo {}

.header__logo {
  margin-right: auto;
}

.header__iner {}

.nav {}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__item:not(:last-child) {
  margin-right: 60px;
}

.nav__link {
  color: #FFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 20px;
  font-weight: 800;
}


.nav__link-pseudo-class::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: #4E8FC5;
  transition: width 0.3s;
}
.nav__link-pseudo-class:focus::after,
.nav__link-pseudo-class:hover::after {
  width: 100%;
  transition: width 0.3s;
}

.nav__link-pseudo-class:focus{
  color: #3B7AAE;
}
.nav__link-pseudo-class:active{
  color: #1F6398;
}

.btn-media {
  margin-left: 140px;
}

.header__btn:not(:last-child) {
  margin-right: 40px;
}
.header__btn:hover path{
  fill: #0067A5;
}
.header__btn:focus path {
  fill: #3c7aa1;
}
.header__btn:active path {
  fill: #0a98f0;
}

.video-bg {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.video-bg video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.effects {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(1px);
}

.video-bg__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.video-bg__content__title {
  color: #FFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 80px;
  font-weight: 700;
}

.video-bg__content__descr {
  margin: 35px 0;
  color: #FFF;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 48px;
  font-weight: 600;
}

.video-bg__content__btn {
  border-radius: 10px;
  border: 1px solid #C6C6C6;
  padding: 16px 69px;
  color: #FAF7FF;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 2.16px;
}

.video-bg__content__btn:hover{
  border: none;
  background-color: #0067A5 ;
  transform: translateY(-5px)
}

.video-bg__content__btn:focus{
  border: none;
  background-color: #3c7aa1 ;
}
.video-bg__content__btn:active{
  border: none;
  transform: scale(0.95);
  background-color: #0a98f0 ;
}

.header-arrow {
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  animation: jump 3s infinite;
  z-index: 4;
}

@keyframes jump {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

/* partners */

.partners {
  background-color: #0067A5;
  position: relative;
  padding-top: 100px;
  padding-bottom: 289px;
  background-image: url('../img/323.png');
  background-repeat: no-repeat;
  background-position: bottom right;
}

.container__partners {}

.partners__title {
  margin-bottom: 180px;
}

.partners__title__descr {
  color: #FFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 180px;
  font-weight: 700;
}

.partners__title__descr-company {
  display: flex;
  justify-content: end;
  align-items: flex-end;
  color: #FFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 160px;
  font-weight: 700;
}

.er {
  position: absolute;
  right: 0;
  top: 23%;
  display: block;
  border-bottom: 4px solid #FFF;
  backdrop-filter: blur(15px);
  width: 1430px;
}

.new__slider {
  position: relative;
  overflow: hidden;
  margin-bottom: 280px;
  width: 100%;
}

.new__pagination {
  position: initial;
}

.new__stickers {
  display: flex;
  margin-bottom: 30px;

}

.new__stickers picture:not(:last-child) {
  margin-right: 70px;
}

.swiper-pagination-bullet-active {
  background-color: #ffffff !important;
}

.swiper-pagination {
  position: relative !important;
}

.swiper-pagination-bullet {
  margin: 0px 10px !important;
  width: 10px !important;
  height: 10px !important;
  background-color: #ffffff !important;
  font-size: 0;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 0 !important;
}

.partners__block-descr {
  display: flex;
  flex-direction: column;
  position: relative;
}

.partners__block-descr-img {
  position: absolute;
  top: 70%;
  left: -6%;
  width: 450px;
  height: 69px;
}

.partners__descr {
  color: #FFF;
  font-size: 64px;
  font-weight: 700;
  width: 888px;
  margin-bottom: 55px;
}

.partners__descr-second {
  width: 864px;
  color: #FFF;
  font-size: 48px;
  font-weight: 700;
}

.partners__block-descr p:last-child {
  align-self: center
}

/* services */

.services {
  padding-top: 167px;
  padding-bottom: 250px;
  background-color: #F3FAFF;
  background-image: url('../img/services.png'), url('../img/services-liquidglass.png'), url('../img/services-liquidglass-3.png'), url('../img/services-liquidglass-5.png');
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: 100% 0, 0 53%, 100% 78%, 0 100%;
}

.services__container {}

.services__title {
  max-width: 775px;
  color: #000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 200px;
  font-weight: 500;
  margin-bottom: 159px;
}

.services__title__descr2 {
  position: relative;
  left: 150px;
}

.services__block {
  position: relative;
}

.services__block-title {
  color: #000;
  font-size: 86px;
  font-weight: 500;
  margin-bottom: 53px;
}

.services__block-mini-title {
  margin-left: 167px;
  max-width: 1111px;
  color: #000;
  font-size: 70px;
  font-weight: 400;
  margin-bottom: 53px;
}

.services__block-descr {
  margin-left: 98px;
  max-width: 1240px;
  color: #000;
  font-size: 48px;
  font-weight: 300;
  margin-bottom: 53px;
}

.services__block-btn {
  position: absolute;
  right: 28%;
  border-radius: 10px;
  border: 1px solid #333;
  padding: 22px 78px;
  color: #000;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 2.16px;
}
.services__block-btn:hover{
  border: none;
  background-color: #333333;
  color: #fff;
  transform: translateY(-5px)
}

.services__block-btn:focus{
  border: none;
  background-color: #4B4D52;
  color: #fff;
}
.services__block-btn:active{
  border: none;
  transform: scale(0.95);
  background-color:#5F6A72 ;
  color: #fff;
}
.services__blocks {
  display: flex;
  flex-direction: column;
}

.services__block-efficiency {
  margin-left: auto;
  /* Прижимаем блок вправо */
}

.services__block-mini-title-efficiency {
  margin-left: 209px;
}

.services__block:not(:last-child) {
  margin-bottom: 230px;
}

.services__block-optimization {}


.services__block-efficiency {}

.services__block-title-efficiency {
  max-width: 969px;
  margin-left: auto;
}

.services__block-individuality {}

.services__block-title-individuality {
  max-width: 1109px;
}

.services__block-mini-title-individuality {
  max-width: 850px;
}

.services__block-descr-individuality {
  margin-left: auto;
}

.services__block-btn-2 {
  right: 6%;
}


/* blog */
.blog {
  background-color: #0067A5;
  overflow: hidden;
  position: relative;
  padding: 50px;
}

.blog__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog__block-txt {
  max-width: 890px;
  margin-right: 150px;
}

.blog__title {
  color: #FFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 200px;
  font-weight: 700;
  margin-bottom: 93px;
}

.blog__descr {
  color: #FFF;
  font-size: 115px;
  font-weight: 500;
}
.blog .new__slider{
  display: none;
}
.blog__content {
  max-width: 664px;
  display: flex;
  flex-direction: column;
  padding: 50px 46px;
  border-radius: 20px;
  background: #FFF;
  box-shadow: 0px 0px 30px 1px #333;
  backdrop-filter: blur(75px);
}

.fa-opti::before {
  content: "\f013";
  font-family: 'FontAwesome';
  font-style: normal;
}

.fa-adjust::before {
  content: "\f042";
  font-family: 'FontAwesome';
  font-style: normal
}

.fa-lightbulb-o::before {
  content: "\f0eb";
  font-family: 'FontAwesome';
  font-style: normal
}

.blog__content i {
  font-size: 5em;
  color: #AC0598;
  display: inline-block;
  text-align: center;
  margin-bottom: 20px;
}

.blog__content-title {
  text-align: center;
  color: #5F5C6D;
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 14px;
}

.blog__content-descr {
  color: #5F5C6D;
  font-size: 34px;
  font-weight: 400;
  margin-bottom: 53px;
}


.blog__content-descr-author {
  color: #5F5C6D;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 14px;
}

.blog__content-descr-specialist {
  color: #5F5C6D;
  font-size: 21px;
  font-weight: 400;
  margin-bottom: 14px;
}

.blog__content-descr-btn {
  text-align: center;
  max-width: 184px;
  color: #5F5C6D;
  font-size: 21px;
  font-weight: 400;
  box-sizing: border-box;
  outline: 1px dashed #333;
  padding: 13px 22px;
}
.blog__content-descr-btn:hover{
  color: #0067A5 ;
  transform: translateY(-5px)
}

.blog__content-descr-btn:focus{
  color: #3c7aa1 ;
}
.blog__content-descr-btn:active{
  transform: scale(0.95);
  color: #0a98f0 ;
}

.blog-slider {
  height: 1000px;
  padding-top: 250px !important;
  margin: 0 auto;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background-color: #fff !important;
}

.swiper-pagination-progressbar {
  background-color: #374955 !important;
}

.swiper-horizontal>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite,
.swiper-pagination-progressbar.swiper-pagination-horizontal.swiper-pagination-progressbar-opposite,
.swiper-pagination-progressbar.swiper-pagination-vertical,
.swiper-vertical>.swiper-pagination-progressbar {
  position: absolute !important;
  top: 38% !important;
  left: 95% !important;
  height: 30% !important;
}

/* promotion */

.promotion {
  padding: 100px 0;
  background-color: #0067A5;
}

.promotion__container {}

.promotion__title {
  max-width: 1212px;
  color: #FFF;
  font-size: 96px;
  font-weight: 700;
  margin-bottom: 50px;
}

.promotion__descr {
  max-width: 1155px;
  color: #FFF;
  font-size: 64px;
  font-weight: 400;
  margin-bottom: 50px;
  margin-left: 135px;
}

.promotion__btn {
  background-color: #fff;
  border-radius: 12px;
  padding: 22px 115px;
  color: #333;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  right: 28%;
}

.promotion__btn:hover{
  background-color: #00AC7C;
  color:#fff;
  transform: translateY(-5px)
}

.promotion__btn:focus{
  color:#fff;
  background-color: #00754B;
}
.promotion__btn:active{
  transform: scale(0.95);
  color:#fff;
  background-color: #00C896;
}

/* reviews */

.reviews {
  padding: 100px 0;
  background-color: #0067A5;
}

.reviews__container {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}

.clients__list {
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;
}

.reviews__title {
  text-align: center;
  color: #FFF;
  font-size: 86px;
  font-weight: 700;
  margin-bottom: 18px;
}

.reviews__descr {
  /* max-width: 1372px; */
  color: #FFF;
  text-align: center;
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 110px;
}

.fa-star::before {
  content: "\f005";
  font-family: 'FontAwesome';
  font-style: normal;
  font-size: 15px;

}

.fb:not(:last-child) {
  margin-right: 10px;
  margin-bottom: 29px;
}

.star {
  display: flex;

}



.clients__item {
  /* max-width: 360px; */
  flex-direction: column;
  width: 480px;
  padding: 40px 36px;
  padding-bottom: 30px;
  background-color: #fff;
  border-radius: 12px;

}

.clients__item {
  margin-right: 1%;
}

.clients__item-descr {
  height: 95px;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 400;
  color: #000000;
}

.clients__user {
  margin-top: auto;
  align-items: center;
  border-top: 1px solid #dadada;
  max-width: 100%;
  padding-top: 38px;
}

.clients__avatar {
  flex-shrink: 0;
  width: 67px;
  margin-right: 17px;
}

.clients__avatar img {
  width: 100%;
  height: 100%;
  border: 2px solid #3172b9;
  border-radius: 100%;
}

.clients__name {
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 16px;
  line-height: 180%;
  color: #1c1c1c;
}

.clients__post {
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
  color: #787878;
}

/* functions */

.functions {
  background-image: url('../img/function-img.png');
  background-repeat: no-repeat;
  background-position: 95% 50%;
  padding: 100px 0;
  margin-bottom: 100px;
}

.functions__container {
  display: flex;
  flex-direction: column;
  margin-right: 0;
}

.functions__span {
  color: #333;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 33px;
}

.functions__title {
  color: #333;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 33px;
}

.functions__descr {
  max-width: 838px;
  color: #333;
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 33px;
}

.functions__btn {
  max-width: 474px;
  background-color: #0067A5;
  border-radius: 12px;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  padding: 19px 38px;
}
.functions__btn:hover{
  box-shadow: 2px 6px 5px 2px rgba(0, 0, 0, 0.25);
}

.functions__btn:focus{
  box-shadow:none;
  background-color: #3c7aa1 ;
}
.functions__btn:active{
  transform: scale(0.95);
  background-color: #0a98f0 ;
}
.applications {
  padding: 100px 0;
  background-image: url('../img/applications-social-img-2.png');
  background-repeat: no-repeat;
  background-position: 20% 50%;
  margin-bottom: 50px;
}

.applications__container {}

.applications__block {
  max-width: 733px;
  margin-left: 50%;
}

.applications__title {
  max-width: 568px;
  color: #030303;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 33px;
}

.applications__descr {
  color: #333;
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 33px;
}

.applications__btn {
  max-width: 366px;
  background-color: #0067A5;
  border-radius: 12px;
  padding: 19px 62px;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}
.applications__btn:hover{
  box-shadow: 2px 6px 5px 2px rgba(0, 0, 0, 0.25);
}

.applications__btn:focus{
  box-shadow:none;
  background-color: #3c7aa1 ;
}
.applications__btn:active{
  transform: scale(0.95);
  background-color: #0a98f0 ;
}
/* try */

.try {
  background-color: #0067A5;
  padding: 100px 0;
}

.try__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.try__title {
  color: #FFF;
  font-size: 52px;
  font-weight: 700;
  margin-bottom: 26px;
}

.try__descr {
  color: #FFF;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 90px;
}

.try__block-btn {
  display: flex;
  align-items: center;
}

.try__btn {
  background-color: #fff;
  border-radius: 12px;
  padding: 19px 40px;
  color: #333;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}
.try__btn:hover{
  box-shadow: 2px 6px 5px 2px rgba(0, 0, 0, 0.25);
}

.try__btn:focus{
  color:#fff;
  box-shadow: none;
  background-color: #00754B;
}
.try__btn:active{
  transform: scale(0.95);
  color:#fff;
  background-color: #00C896;
}
.try__btn-connection {
  padding: 19px 68px;
}

.try__btn:not(:last-child) {
  margin-right: 160px;
}

/* footer */

.footer {
  background-color: #222222;
  padding: 50px 75px;
}

.footer__container {
  justify-content: space-between;
  align-items: center;
}

.footer__menu {
  display: flex;
  flex-direction: column;
}

.footer__logo {
  width: 67px;
  height: 67px;
  margin-bottom: 20px;
}

.footer__nav {
  display: flex;
  flex-direction: column;
  color: #cacaca;
  margin-bottom: 90px;
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
}

.footer__nav__link:hover {
  color: #0067A5;
}

.footer__nav__link:focus {
  outline-offset: 3px;
  outline: 2px solid #0067A5
}

.footer__nav__link:active {
  color: #fff;
}

.social__li {}

.social__link {
  display: block;
}

.footer__svg {
  width: 60px;
  height: 60px;
}

.social__li:not(:last-child) {
  margin-right: 25px;
}

.social-link:hover path {
  fill: #0067A5;
}

/* footer__center */

.form {
  flex-direction: column;
}

.form__header {
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: #cacaca;
  align-items: stretch;
}

.filed {
  border-radius: 16px;
  color: #fff;
  background: #414141;
  border: none;
  outline: none;
  padding: 14px 24px;
  margin-bottom: 25px;
  font-size: 16px;
  line-height: 32px;
}

.filed:hover,
.filed:focus {
  background-color: #666666;
  color: #cacaca;
}

.filed:active {
  color: #ffffff;
}

.field::placeholder {
  color: #cacaca;
  font-size: 16px;
}

.form__textarea {
  resize: none;
  border: none;
  height: 150px;
  width: 570px;
  padding-top: 19px;
  padding-left: 24px;
  background: #414141;
  margin-bottom: 32px;
  max-width: 100%;
}

.send__btn {
  padding: 20px 52px;
  font-size: 16px;
  font-weight: 600;
  margin-right: 22px;
  background-color: #0067A5;
  color: #fff;
  border-radius: 16px;
}

.send__btn:hover{
  background-color: #3172b9;
  transform: translateY(-3px)
}

.send__btn:focus{
  background-color: #0f2b49 ;
}
.send__btn:active{
  transform: scale(0.95);
  background-color: #021324;
}
.send__label {
  white-space: nowrap;
  align-items: center;
  flex-wrap: nowrap;
  color: #cacaca;
  font-size: 16px;
}

#agree {
  display: none;
}

#agree:checked+.send__text::before {
  border: 1px solid #cacaca;
  background-image: url("../img/check.svg");
  background-size: contain;
}

#agree+.send__text::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  margin-right: 5px;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: -1px;
}

/* footer__right */

.footer__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #cacaca;
  width: 363px;
}
